.landingPage{
  max-width: 1500px;
  margin: auto;
}

.moviesDisplay{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.singlePage{
  max-width: 800px;
  margin: auto;
}

.singleMovie{
  margin: 10px;
}

.underImage{
  display: flex;
  justify-content: space-between;
  font-size: 22px;
}